@import "variables";

$highlight-color: $color-primary;

@import "admin/_admin.scss";

.wp-core-ui .button-primary {
	background-color: $color-primary;
	color: $color-white;

	&:hover,
	&:focus,
	&:active {
		background-color: $color-secondary;
		color: $color-white;
	}
}