html {
  font-size: 18px;

  @include tablet {
    font-size: 17px;
  }

  @include phone {
    font-size: 16px;
  }
}

body {
  font-size: 1rem;
  line-height: 1.5rem;
}

body {
  font-family: $font-body;
  color: $color-default;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
// Headings
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 500;
  color: $color-default;
  font-family: $font-heading;

  &.semi {
    font-weight: 600;
  }
}
h1,
.h1 {
  font-size: 2.67rem; // 48px
  line-height: 2.67rem;
  margin-bottom: 2.67rem;
  text-transform: uppercase;
  letter-spacing: 3px;

  &.light {
    font-weight: 300;
  }

  @include phone {
    font-size: 1.63rem; // 32px
    line-height: 1.63rem;
  }
}
h2,
.h2 {
  font-size: 2.33rem; // 42px
  line-height: 2.5rem;
  margin-bottom: 2.67rem;
  text-transform: uppercase;
  letter-spacing: 4px;

  &.light {
    font-weight: 300;
  }

  @include phone {
    font-size: 1.75rem; // 32px
    line-height: 1.75rem;
  }
}
h3,
.h3 {
  font-size: 1.78rem; // 32px
  line-height: 1.78rem;
  margin-bottom: 1.33rem;
  letter-spacing: 2px;

  &.light {
    font-weight: 300;
  }

  @include phone {
    font-size: 1.5rem; // 32px
    line-height: 1.5rem;
  }
}
h4,
.h4 {
  font-size: 1.56rem; // 28px
  line-height: 1.56rem;
  margin-bottom: 1.33rem;
  letter-spacing: 1px;
  letter-spacing: 2px;

  &.light {
    font-weight: 300;
  }

  @include phone {
    font-size: 1.25rem; // 32px
    line-height: 1.25rem;
  }
}
h5,
.h5 {
  font-size: 1.33rem; // 24px
  line-height: 1.33rem;
  margin-bottom: 1.33rem;
  letter-spacing: 2px;

  &.light {
    font-weight: 300;
  }

  @include phone {
    font-size: 1.06rem; // 32px
    line-height: 1.06rem;
  }
}
h6,
.h6 {
  font-size: 1.11rem; // 20px
  line-height: 1.22rem;
  margin-bottom: 1.33rem;
  letter-spacing: 2px;

  &.light {
    font-weight: 300;
  }

  &.upper {
    text-transform: uppercase;
  }

  &.underline {
    text-decoration: underline;
  }

  @include phone {
    font-size: 1.13rem; // 32px
    line-height: 1.13rem;
  }
}
// Small
.small,
.body--small {
  font-size: 0.78rem;
  line-height: 1.33rem;

  @include phone {
    font-size: 0.88rem; // 32px
    line-height: 1.5rem;
  }
}
sup,
sub {
  font-size: 0.5em;
}
sup {
  vertical-align: super;
}
sub {
  vertical-align: sub;
}
// Blockquote
.blockquote {
  font-size: 1.89rem;
  line-height: 2.33rem;
  font-weight: 700;

  @include phone {
    font-size: 1.25rem; // 32px
    line-height: 1.5rem;
  }
}
// List - Icon
.list--icon li {
  position: relative;
  padding-left: 2em;
}
.list--icon .fa {
  position: absolute;
  top: 0;
  left: 0;
}
// TABLES
table {
  border-collapse: collapse;
  width: 100%;
}
table th,
table td {
  padding: 0.625em;
  border-bottom: 1px solid $color-light;
}
table th {
  font-weight: 700;
  text-align: left;
}
// WYSIWYG
.wysiwyg {
  // TEXT
  p,
  ul,
  ol,
  blockquote,
  table,
  iframe {
    margin-bottom: 1.48em;
  }
  // LINKS
  a:not(.button) {
    border-bottom: 1px solid;
  }

  // LISTS
  li:not(.gfield) {
    position: relative;
    padding-left: 1.5em;
  }
  li > ul,
  li > ol {
    margin-top: 0.625em;
    margin-bottom: 0;
  }
  ul.gfield_checkbox li,
  ul.gfield_radio li {
    padding-left: 0;
  }
  // UNORDERED LIST
  ul li:before {
    content: "\2022";
    position: absolute;
    top: 0;
    left: 0;
    color: $color-primary;
  }
  .gform_fields li:before {
    display: none;
  }
  // ORDERED LIST
  ol {
    list-style: none;
    counter-reset: number-counter;
  }
  ol li {
    padding-left: 2em;
    position: relative;
  }
  ol li:before {
    content: counter(number-counter) ".";
    counter-increment: number-counter;
    position: absolute;
    top: 0;
    left: 0;
    color: $color-primary;
  }
  // FORMS
  .gform_wrapper ul {
    margin-bottom: 0;
  }
  .gfield_checkbox li,
  .gfield_radio li {
    padding-left: 0;
  }
}

// Message
